.confirm-dialog .MuiPaper-root {
  border-radius: 16px;
  padding: 12px 8px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.dialog-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0; 
  margin-left: 0;
}

/* .dialog-icon {
  color: #f44336;
  font-size: 28px;
} */

.dialog-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1a6f8b;
  margin: 0;
  padding-bottom: 0; 
}

.MuiDialogContent-root {
  padding-top: 4px !important; /* shrink the gap */
}

.dialog-text {
  margin-top: 1px;
  font-size: 0.95rem;
  color: #555;
}

.dialog-actions {
  padding: 16px 24px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-btn {
  text-transform: none;
  border-radius: 10px;
  padding: 6px 18px;
  color: #555 !important;
  border: 1px solid #bbb !important;
  text-transform: none;
}

.cancel-btn:hover {
  background-color: #f5f5f5 !important;
  border-color: #888 !important;
}


.confirm-btn {
  text-transform: none;
  font-weight: 600;
  border-radius: 10px;
  padding: 6px 18px;
  /* background: linear-gradient(45deg, #ff6b6b, #f44336); */
  background-color: var(--primary-color);
  color: white !important;
  font-weight: 600;
}

.confirm-btn:hover {
  background-color: var(--primary-color);
}
